.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ad_banner {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.ad_empty {
  max-width: 600px;
  padding: 2rem;
  border-radius: 15px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ad_empty>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.ad_empty>div>h2 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3e2f56;
  line-height: 3;
  text-align: left;
}

.ad_empty>div>p {
  width: 100%;
  height: 100%;
  color: #534A78;
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  word-break: keep-all;
  overflow: hidden;
}

.ad_empty>div>a {
  align-self: center;
  color: #fff;
  background-color: #a6acd7;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 15px;
  margin-top: 20px;
}

.ad_banner_link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {

}