.user_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.toHome_div {
  margin-top: 30px;
  text-align: center;
}

.user_container > h1 {
  font-size: 1.6rem;
}

.user_container .input_wrapper {
  min-width: 360px;
  display: flex;
  align-items: center;
}

.user_container label {
  margin-right: 0.5rem;
}

.user_container input {
  min-width: 300px;
  max-width: 60%;
  height: 32px;
  text-indent: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}



.button {
  width: 6rem;
  border-radius: 50px;
  padding: 8px 12px;
  color: #fff;
  background-color: #534A78;
  font-weight: 600;
  font-size: 13px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.home {
  background-color: #999;
  width: 4rem;
}

.signup {
  background-color: #999;
  width: 5rem;
  margin-left: 1rem;
}

.user_container > span {
  color: #FF91B0;
  font-weight: 600;
  font-size: 13px;
}

.profile_nick_div {
  display: flex;
  width: 100%;
  align-items: center;

}

.profile_img {
  border-radius: 50%; /* 원형 처리 */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  margin-top:10px;
  margin-left:10px;
}

.nickname {
  margin-top: 10px;
  margin-left: 20px;
}

.profileName {
  marginTop: '10px';
  fontSize: '18px';
  fontWeight: 'bold';
}

.gap {
  height: 50px;
}

.trade_div {
  width: 100%;
  margin-left:10px;
}

.trade_h3 {
  text-align: left;
  font-weight: bold;
  font-size:large
}

.list {

}

.item_img {
  margin-right:5px;
}

.listItem {
  display: flex;
  align-items: center;
  position:relative;
  margin-top: 10px;
}

.arrow_right {
  position: absolute;
  right: 5px;
}

.community_div {
  width: 100%;
  margin-left:10px;
}

.community_img {
  margin-right: 10px;
  border-radius: 3px;
}

.community_h3 {
  font-weight: bold;
  font-size:large
}

.home_div {
  text-align: center;
}
